# Remove linha gitignore
/.idea/
target/
/Javafxcourse.iml
/src/main/resources/fxml/softblue/
/src/main/resources/fxml/materialdesing/
/src/main/java/gleideveloper/com/br/softblue/
/src/main/java/gleideveloper/com/br/materialdesign/
