# Remove linha gitignore
/.idea/
target/
/Javafxcourse.iml
/src/main/resources/fxml/softblue/
/src/main/java/gleideveloper/com/br/softblue/
/src/main/java/gleideveloper/com/br/javafxmvc/
/src/main/resources/fxml/javafxmvc/
